@page
@model WellnessGrocery.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
                <label asp-for="Order.UserId" class="control-label"></label>
                <select asp-for="Order.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.Quantity" class="control-label"></label>
                <input asp-for="Order.Quantity" class="form-control" />
                <span asp-validation-for="Order.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TrackingNumber" class="control-label"></label>
                <input asp-for="Order.TrackingNumber" class="form-control" />
                <span asp-validation-for="Order.TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentType" class="control-label"></label>
                <input asp-for="Order.PaymentType" class="form-control" />
                <span asp-validation-for="Order.PaymentType" class="text-danger"></span>
<<<<<<< HEAD
=======
=======
                <label asp-for="Order.OrderQuantity" class="control-label"></label>
                <input asp-for="Order.OrderQuantity" class="form-control" />
                <span asp-validation-for="Order.OrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <input asp-for="Order.OrderStatus" class="form-control" />
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderTrackingNumber" class="control-label"></label>
                <input asp-for="Order.OrderTrackingNumber" class="form-control" />
                <span asp-validation-for="Order.OrderTrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderPaymentType" class="control-label"></label>
                <input asp-for="Order.OrderPaymentType" class="form-control" />
                <span asp-validation-for="Order.OrderPaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderCustomerId" class="control-label"></label>
                <select asp-for="Order.OrderCustomerId" class ="form-control" asp-items="ViewBag.OrderCustomerId"></select>
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
