@page
@model WellnessGrocery.Pages.Inventorys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="Inventory.Name" class="control-label"></label>
                <input asp-for="Inventory.Name" class="form-control" />
                <span asp-validation-for="Inventory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.Quantity" class="control-label"></label>
                <input asp-for="Inventory.Quantity" class="form-control" />
                <span asp-validation-for="Inventory.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inventory.Availablity" /> @Html.DisplayNameFor(model => model.Inventory.Availablity)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.Location" class="control-label"></label>
                <input asp-for="Inventory.Location" class="form-control" />
                <span asp-validation-for="Inventory.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
=======
                <label asp-for="Inventory.InventoryLocation" class="control-label"></label>
                <input asp-for="Inventory.InventoryLocation" class="form-control" />
                <span asp-validation-for="Inventory.InventoryLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.InventoryProductQuantity" class="control-label"></label>
                <input asp-for="Inventory.InventoryProductQuantity" class="form-control" />
                <span asp-validation-for="Inventory.InventoryProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inventory.InventoryProductAvailablity" /> @Html.DisplayNameFor(model => model.Inventory.InventoryProductAvailablity)
                </label>
            </div>
            <div class="form-group">
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
